/* NavMenu.css */

/* Navbar styles */
header .navbar {
  background-color: darkred;
}

/* NavbarBrand styles */
header .navbar-brand {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

/* NavbarToggler styles */
header .navbar-toggler {
  border-color: white;
}

/* NavItem styles */
header .nav-item {
  margin-right: 10px;
}

header .nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header .form-control {
  border-color: darkred;
  border-radius: 20px;
}

header .input-group-append button {
  background-color: darkred;
  border-color: darkred;
  color: white;
  border-radius: 0 20px 20px 0; /* Rounded on the right side, flat on the left */
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

header .input-group-append button:hover {
  background-color: #a10000;
}
/* Mobile responsive styles */
@media (max-width: 576px) {
  header .navbar-toggler {
    margin-right: 0;
  }

  header .navbar-collapse {
    background-color: darkred;
    padding: 10px;
  }

  header .navbar-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header .navbar-nav .nav-item {
    margin: 10px 0;
  }
}

