
﻿.detail-container {
    display: flex;
    margin-bottom: 15px;
}

.detail-content {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
    max-width: 90%;
    width: 100%;
    margin: 20px;
    display: flex;
}

.detail-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

    .detail-image img {
        max-width: 100%;
        height: auto;
        border: 1px solid #ccc;
    }

.detail-text {
    flex: 2;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .detail-text p {
        margin-bottom: 10px;
    }

    .detail-text .price {
        font-size: 250%;
        font-weight: bold;
    }


.add-to-cart-button {
    background-color: forestgreen;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80%;
}

    .add-to-cart-button:hover {
        background-color: #00cc00;
    }

