h1 {
    font-family: 'PatrenaRolane';
    margin-bottom: 20px;
}

.divider {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}

.h-100 {
    margin-bottom: 20px;
}

.partners img {
    width: 300px;
    max-width: 150px;
    margin-bottom: 20px;
}

.featured-products img {
    margin-top: 20px;
}

.new-vinyl img {
    margin-top: 20px;
}

.used-vinyl img {
    margin-top: 20px;
}

.new-compact-disc img {
    margin-top: 20px;
}

.used-compact-disc img {
    margin-top: 20px;
}

.slogan {
    font-family: 'PatrenaRolane';
    font-size: calc(20px + (95 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.card-width {
    width: 100%;
}

.cardHREF {
    border-radius: 8px;
    text-decoration: none;
    color: #24262b;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card-divider {
    width: 2px; /* Adjust the width as needed */
    color: red; /* Adjust the color as needed */
    margin: 0 10px;
}

.card-info, .card-purchase {
    flex: 1;
}

.card-img-top {
    transition: transform 0.3s ease;
    max-height: 200px;
    object-fit: contain;
}

.card-artist, .card-album {
    transition: color 0.3s ease;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-artist {
    font-size: 0.9rem;
    font-weight: bold;
}

.card-album {
    font-size: 0.75rem;
    font-style: italic;
}

.card-purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.card-price {
    font-size: 1.25rem;
}

.card-price, .card-basket {
    text-align: right;
}

.card-basket {
    border: solid 2px #24262b;
    border-radius: 8px;
    background-color: lightgreen;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.75rem;
    white-space: nowrap;
}

.card-info {
    flex-grow: 2;
}

.cardHREF:hover {
    box-shadow: 0 0 0 3px darkred;
}

    .cardHREF:hover .card-img-top {
        transform: scale(1.05);
        color: darkred;
    }

    .cardHREF:hover .card-artist,
    .cardHREF:hover .card-subtitle,
    .cardHREF:hover .card-price {
        color: darkred;
    }
