h1 {
    font-family: 'PatrenaRolane';
    margin-bottom: 20px;
}

.my-divider {
    border: none; 
    height: 2px;
    background-color: #333; 
    margin: 20px 0;
}

.partners img {
    width: 300px;
    max-width: 150px;
    margin-bottom: 20px;
}

.featured-products img {
    margin-top: 20px;
}

.new-vinyl img {
    margin-top: 20px;
}

.used-vinyl img {
    margin-top: 20px;
}

.new-compact-disc img {
    margin-top: 20px;
}

.used-compact-disc img {
    margin-top: 20px;
}

.slogan {
    font-family: 'PatrenaRolane';
    font-size: calc(20px + (95 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.card-width {
  width: stretch;
  display: flex;
  flex-direction: column; /* Affiche les éléments de haut en bas */
  justify-content: flex-end; /* Aligne les éléments au bas */
}

.cardHREF {
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease; /* Add transition properties */
}

    .cardHREF .card-img-top {
        transition: transform 0.3s ease;
    }

    .cardHREF .card-title,
    .cardHREF .card-subtitle {
        transition: color 0.3s ease;
    }

    .cardHREF:hover {
        background-color: #f0f0f0; /* Change the background color on hover */
        box-shadow: 0 0 0 3px darkred;
    }

        .cardHREF:hover .card-img-top {
            transform: scale(1.05);
        }

        .cardHREF:hover .card-title,
        .cardHREF:hover .card-subtitle {
            transform: scale(1.01);
            color: darkred;
        }

.cardHREF .flex-grow-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardHREF .card-body {
  padding: 20px; /* Adjust the padding as needed */
}

