.login-form {
    margin: 50px;
}

#username {
    background-color: #24262b;
    color: #E4E6Eb;
    max-width: 500px
}
#password {
    background-color: #24262b;
    color: #E4E6Eb;
    max-width : 500px
}