﻿.account-container {
    margin:25px;
 }

 .btn-submit {
    margin: 1% 33% 0 0 ;
 }

#FirstName, #LastName, #Email,#UserName, #Password {
    background-color: #24262b;
    color: #E4E6Eb;
    max-width: 50%;
}