﻿a {
    text-decoration: none !important;
}

.btn-edit-delete-container {
    display: flex;
}

.detail-container {
    position: relative;
}

.detail-content {
    position: relative;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    max-width: 90%;
    min-width: 750px;
    max-height: 500px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.detail-image {
    flex: 1;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

    .detail-image img {
        border-radius: 10px;
        border: 2px solid black;
    }

.detail-text {
    flex: 2;
    padding: 20px 0px 20px 0px;
    font-size: 15px;
    flex-direction: column;
}
    .detail-text .detail-artist-name {
        text-decoration: none;
        font-family: Centaur;
        font-weight: bold;
        font-size: 50px;
    }

    .detail-text .detail-album-title {
        text-decoration: none;
        font-style: italic;
        font-family: Centaur;
        font-weight: bold;
        font-size: 25px;
    }


    .detail-text .detail-price {
        position: absolute;
        font-family: Centaur;
        font-size: 250%;
        font-weight: bold;
        bottom: 0px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

.detail-cart-button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Adjust to your preference */
    right: 20px; 
}

    .detail-cart-button:hover {
        background-color: #20add8;
    }
    
.detail-input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Common styles for buttons */
button {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.price-add-to-cart-container {
    display: flex;
    justify-content: space-between;
}

.edit-button {
    /* Styles for the "Save" button when in edit mode */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.edit-button:hover {
    background-color: #5ed162;
}

.btn-save-cancel-container {
    display: flex;
    margin:  10px 5px;
}

.cancel-button {
    /* Styles for the "Cancel" button when in edit mode */
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.delete-button {
    /* Styles for the "Delete" button */
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

    .delete-button:hover {
        background-color: #ff5b4f;
    }