#name, #category, #description, #price, #image, #quantity, #mediaGrade, #sleeveGrade, #catalogNumber, #matrixNumber {
    background-color: #24262b;
    color: #E4E6Eb;
}

.add-product-form {
    margin: 50px;
}